<h1>Editing Development By Region</h1>

<%= render 'form', development_by_region: @development_by_region %>

<%= link_to 'Show', @development_by_region %> |
<%= link_to 'Back', development_by_regions_path %>
