  <head>
  <script type="text/javascript" src="./jquery-3.4.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <header class="header_data">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Home</h1>
      </div>
    </div>
  </header>


<p id="notice"><%= notice %></p>

<%= @response %>

