 <section id="about" class="about-section text-center">
    <div class="container">
      
        
        <%= form_tag developments_path, :method => :post do  %>
          <div class="input-append">
            <%= collection_select :country, :id1, Development.all, :id, :country %>
            <%= collection_select :country, :id2, Development.all, :id, :country %>
       <button type="submit" class="btn">submit</button>
          </div>
        <% end %>

    </div>
  </section>



