<%= for i in 0..9 do %>
  
<h4>-----------------------------------------------------</h4>

<%= @result["response"]["results"][i]["webTitle"] %>
<%= @result["response"]["results"][i]["webUrl"] %>
<%= @result["response"]["results"][i]["fields"]["bodyText"] %>

<h4>-----------------------------------------------------</h4>





<% end %>