

// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #a8abd8 !default;
$gray-500: #adb5bd !default;
$gray-600: #7c81a5 !default;
$gray-700: #4b4b72 !default;
$gray-800: #313652 !default;
$gray-900: #27293f !default;
$black: #121129 !default;

$primary: #64a19d !default;


.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, #{fade-out($black, .9)} 0%,#{fade-out($black, .5)} 75%,$black 100%), url('img/footer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  .form-inline {
    input {
      box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0,0,0,.1) !important;
      padding: 1.25rem 2rem;
      height: auto;
      font-family: 'Varela Round';
      font-size: 80%;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      border: 0;
    }
  }
}
