// Place all the styles related to the freedoms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container {
    height: 450px;
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
  }